<!--
    This form field was modificated to adapt to my project 
    The original code source is: https://github.com/WebDevSimplified/Markdown-Blog
 -->
<div>

        <label for="title">Title:</label><br>
        <input required type="title" id="title" name="title" ><br>

        <label for="author">Author:</label><br>
        <input type="text" id="author" name="author" ><br>

        <label for="gender">Gender:</label><br>
        <input type="text" id="gender" name="gender" ><br>

        <label for="desc">Description:</label><br>
        <textarea type="text" id="desc" name="desc" ></textarea><br>

        <label for="year">Year:</label><br>
        <input type="number" id="year" name="year" ><br>

        <label for="price">Price:</label><br>
        <input type="number" id="price" name="price" ><br>

        <a href="/" class="btn btn-secondary">Cancel</a>
        <input type="submit" value="Save" class="btn btn-primary">

</div>